<div class="card">
  <div class="container">
    <h4><b>Login</b></h4>
    <p>Fazer login no sistema</p>
    <button type="submit" onclick="window.location.href='/maga/login'">Login</button>
  </div>
</div>

<div class="card">
  <div class="container">
    <h4><b>Cardápio de Pizzas</b></h4>
    <p>Lista todas as pizzas</p>
    <button type="submit" onclick="window.location.href='/maga/pizzas'">Catálogo de Pizzas</button>
  </div>
</div>