<div style="flex-direction: column">
    <div style="display: flex; justify-content:flex-end;" >
        <button class="button1" onclick="window.location.href='/maga/registerPizza'">Cadastrar Sabor de Pizza</button>
    </div>

    <div class="listCard">
        <h2>Sabores de Pizza</h2>
        <table>
            <thead>
                <tr>
                    <th>Sabor</th>
                </tr>
            </thead>
            <tbody>
                {{#if pizzas.length}}
                    {{#each pizzas}}
                        <tr>
                            <td>{{p_flavor}}</td>
                        </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td colspan="4">Nenhuma pizza no catálogo? Presta não</td>
                    </tr>
                {{/if}}
            </tbody>
        </table>
    </div>
</div>