<div class="topnav">
  <a class="logo" href="/maga"> <img src="/images/witch-hat_4970007.png" alt="Logo Pizzaria" width="50" height="50">Maga Pizzaria</a>
  <a href="/maga/login">Login</a>
  <a href="/maga/registerClient">Cadastro de Clientes</a>
  <a href="/maga/pizzas">Cadastro de Pizzas</a>
  <a href="/maga/about">Sobre</a>
</div>